<div class="container">
  <div class="banniere">
<img src="assets/pharmacie/banniere.jpeg">
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Rejoignez le réseau Mapharma</mat-card-title>
        <mat-card-subtitle>Élargissez votre clientèle avec Mapharma</mat-card-subtitle>
      </mat-card-header>
      <div class="card2">
      <img mat-card-image src="../../assets/pharmacie/partenaire.jpeg">
        <div class="right">
      <mat-card-content>
        <p>

          En tant que pharmacie partenaire de Mapharma, vous bénéficierez d'une
          plateforme numérique complète pour faciliter vos ventes en ligne. Rejoignez notre
          réseau pour augmenter votre visibilité, attirer de nouveaux clients et développer
          votre activité pharmaceutique.

        </p>
        <h2>Les avantages de devenir partenaire</h2>
        <ul>
          <li>
            Expansion de votre clientèle
          </li>
          <li>
            Gestion facile de vos stocks en ligne
          </li>
          <li>
            Notifications instantanées pour les nouvelles commandes
          </li>
          <li>
            Livraison rapide et fiable à domicile
          </li>
          <li>
            Conformité réglementaire et sécurité garantie
          </li>

        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Devenir partenaire</button>
      </mat-card-actions>
        </div>
      </div>
    </mat-card>


  </div>
</div>
