.container{
  display: flex;
  flex-direction: column;

}
.banniere{
background-image: url("../../assets/pharmacie/banniere.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
}
.body1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: white;
}
.banniere{

}
.left{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.left:hover{

  background-color: var(--primary-color);
}

.right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

}
.right:hover{
  background-color: var(--secondary-color);
}

.texteLeft{
    width: 50%;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
 background-color: white;
}
.texteLeft p{

  font-size: large;
}


.texteRight{
  width: 50%;
  height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;


}
.texteRight p{
  color: var(--secondary-color);
  margin: 5vh;
  text-align: justify;
  font-size: x-small;
}


.body2{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content:center;
}
.card{
  width: 80%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   display: flex;
  flex-direction: row;
}
.title{
  font-size: xx-large;
  text-align: center;
  color: var(--primary-color);
  margin-top: 10vh;
  line-height: 35px;
}
.cardLeft{
  width: 50%;
  height: 100%;
  background-image: url("../../assets/pharmacie/partenaire.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;

}
.cardRight{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: slategrey;
}
span ul li{
  color: white;
}
