<div class="container">
  <div class="banniere">

  </div>
  <div class="body1">
    <div class="left">
      <div class="texteLeft">
        <p>Élargissez votre clientèle avec Mapharma</p>
      </div>
    </div>

    <div class="right">
      <div class="texteRight">
        <p>En tant que pharmacie partenaire de Mapharma,
          vous bénéficierez d'une plateforme numérique
          complète pour faciliter vos ventes en ligne.
          Rejoignez notre réseau pour augmenter votre
          visibilité, attirer de nouveaux clients et
          développer votre activité pharmaceutique.</p>
      </div>
  </div>
</div>
  <div class="body2">
    <div class="card">
    <div class="cardLeft"></div>
    <div class="cardRight">
      <p class="title">
        Les avantages de devenir partenaire
      </p>
     <span>
       <ul>
         <li>Expansion de votre clientèle</li>
         <li>Gestion facile de vos stocks en ligne</li>
         <li>Notifications instantanées pour les nouvelles commandes</li>
         <li>Livraison rapide et fiable à domicile</li>
         <li>Conformité réglementaire et sécurité garantie</li>
       </ul>
     </span>
      <button mat-raised-button > s'inscrire </button>
    </div>
    </div>
  </div>
</div>
