<div class="container">


<div class="left">
  <span class="cardContact">
    <mat-icon> contacts</mat-icon>
    <h3> Yves DOGBE</h3>
  </span>

  <p>General Manager</p>
  <a href="mailto:groupe.denamko@gmail.com">Contactez-moi !</a>
</div>



  <div class="center">
    <p>Tel : 00 228 91 20 30 30</p>
    <p>Tel : 00 228 22 21 42 42</p>
    <a href="mailto:contact.denamko@gmail.com">contact.denamko@gmail.com</a>
  </div>


  <div class="right">
    <h3>
      GROUPE DENAMKO INTERNATIONAL
    </h3>
    <p> 16, Rue Mayidé - Tokoin Ouest</p>
    <p>01 B.P : 5054 Lomé - TOGO</p>
  </div>
</div>
