<div class="container">

  <div class="up">

    <div class="col">
      <img src="./assets/aid.svg" alt="" srcset="">
    </div>

    <div class="col1">
      <p>Rejoignez Mapharma dès aujourd'hui et transformez votre
        <br> pharmacie en un acteur</p>
      <div class="newslater">
        <input type="email"  placeholder="Entrer votre Email" name="" id="">
        <button> Souscrire </button>
      </div>
    </div>
    <div class="col2">
      <p>Suivez nous </p>
      <div class="icon">
        <img src="./assets/instagram.png" alt="" srcset="">
        <img src="./assets/facebook.png" alt="" srcset="">
        <img src="./assets/linkedin.png" alt="" srcset="">
      </div>
    </div>
    <div class="col3">
      <p>Nous contacter </p>
      <p>Email : MA-PHARMA@outlook.com</p>
      <p>Téléphone: 0763029455 </p>
      <p>Adresse</p>
    </div>

  </div>


</div>
