<div class="container" xmlns="http://www.w3.org/1999/html">
 <div class="import">
   <h1>
    Import
  </h1>
  <p>
    Nous mettons tout en oeuvre pour répondre à vos besoins :
  </p>
  <ul>
    <li>
      Groupage LCL
    </li>
    <li>
      Conteneur complet FCL
      <ul>
        <li>
          20' dry, O.T ou reefer
        </li>
        <li>
          40' dry, O.T ou reefer

        </li>
      </ul>

    </li>
    <li>
      Contrôle
    </li>
    <li>
      Ravitaillement
    </li>
    <li>
      Formalités douanière
    </li>
    <li>
      Assurance
    </li>
  </ul>
   <p> <br>
     Via son réseau international d'agent, Groupe DENAMKO, prendra en charge vos produits directement chez vos
     fournisseurs basés à l’étranger. Plusieurs services et solutions vous seront proposés en fonction du pays
     de provenance et de la nature de vos marchandises.
     <br>
   </p>
 </div>

  <div class="export">
  <h1>
    Export
  </h1>
    <p>
      Groupe DENAMKO s’engage avec vous pour une solution adaptèe à vos attentes en fonction de vos exigences :
    </p>
    <ul>
      <li>
        Prise en charge au dèpart (Usine, Bureau, Domicile...)
      </li>
      <li>
        Conditionnement
      </li>
      <li>Groupage LCL</li>
      <li>Conteneurs complets (20', 40' 40'HC...)</li>
      <li>Avitaillement</li>
      <li>Assurance</li>
      <li>
        Douanes
      </li>
    </ul>
  </div>

</div>
