.container{

}
@media screen and (min-width: 768px) {
  .container {
    padding-top: 140px;
  }
}

.container h1{
  background-color: #303030;
  color:white;
  height: 40px;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 10px;
}
.import{
  margin-left: 40px;
  margin-right: 40px;
  font-size: medium;
}
.export{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: medium;
}
