.right{
  margin-right: 40px;
  font-size: small;
}
.right:hover{
  cursor: pointer;
  color: #33a6df;
}
.contact{
  margin-right: 40px;
  font-size: small;
  background-color: #97c126;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
}

span img{
  width: 5%;
}
a{
  text-decoration: none;
  color: inherit;
}

