<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="transport">
    <h1>
      Transport
    </h1>
    <br>
    <p>
      Nous avons mis en place différentes solutions de Transports Routiers. <br>
      Nos équipes vous proposent le transport et le suivi de vos marchandises pour des transports routiers
      nationaux et internationaux en Afrique, plus particulièrement en en Afrique de l'ouest. <br>
      Organisation logistique de votre fret et affrètement spécifique, notre entreprise répond
      è vos besoins par une solution unique et sur-mesure. <br> <br>
      De par sa flexibilité, ce mode de transport peut s'adapter è toutes vos expéditions :
      <br>

    </p>
    <br>

    <ul>
      <li>
        Messagerie
      </li>
      <li> Service express</li>
      <li>Affrètement</li>
      <li>RO-RO (transport Combiné Route / Mer)</li>
      <li>Transport de matières dangereuses</li>
    </ul>
    <br> <br>
  </div>

  <div class="logistique">
    <h1>
      Logistique
    </h1>
    <p>
      <br>
      <br>
      Nous pouvons vous proposer des possibilités de stockage adaptées sur de courtes, moyennes ou longues durées.
      <br> <br>
      Toujours dans le cadre de ses services, Groupe DENAMKO, vous propose également un service personnalisé de
      logistique en domicile/domicile incluant le transport international, le dédouanement, le stockage, le Pick
      & Pack (préparation de commandes) et la redistribution nationale de vos produits.
      <br> <br>
      Pour tous ces services, n'hésitez pas è nous consulter.
      <br>
    </p>

  </div>

</div>
