.banniere img{
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

}
.example-card , .example-card mat-card-content{
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
mat-card-actions{
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions button:hover{
 background-color: var(--primary-color);
}
mat-card-content h2{
  text-align: center;
  color: var(--primary-color);
}
mat-card-title{
  text-align: center;
  color: var(--primary-color);
}
mat-card-subtitle{
  text-align: center;
  color: var(--secondary-color);
}
mat-card-content p{
text-align: justify;
}

mat-card:hover{
;
}
