<div class="container">
  <div class="banniere">
    <img  src="../../assets/partenaire/banniere.jpeg" alt="" srcset="">
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Commandez vos médicaments en ligne avec Mapharma</mat-card-title>
        <mat-card-subtitle>Simplifiez-vous la vie avec Mapharma</mat-card-subtitle>
      </mat-card-header>
      <div class="card2">
      <img mat-card-image src="../../assets/partenaire/partenaire.png">
        <div class="right">
      <mat-card-content>
        <p>

          Mapharma met le pouvoir de la commande de médicaments au bout de vos doigts.
          Notre application conviviale vous permet de trouver facilement les médicaments
          dont vous avez besoin, de passer vos commandes en quelques clics et de les recevoir
          rapidement à votre porte.

        </p>
        <h2>Pourquoi choisir Mapharma ?</h2>
        <ul>
          <li>
            Large sélection de médicaments disponibles
          </li>
          <li>
            Recherche rapide et pratique de produits
          </li>
          <li>
            Commande sécurisée et confidentielle
          </li>
          <li>
            Livraison à domicile pour plus de commodités
          </li>
          <li>
            Pharmacies de confiance et médicaments de qualité
          </li>

        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button>Commander maintenant</button>
      </mat-card-actions>
        </div>
      </div>
    </mat-card>


  </div>
</div>
