/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Raleway }

@font-face {
  font-family: 'Raleway';
}
:root {
  --primary-color: #97c126;
  --secondary-color: #33a6df;
}
