<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="aerien">
    <h1>
      Fret Aérien
    </h1>
    <p>
      Pour répondre à vos impératifs de délais pour votre fret, il vous faut un fournisseur
      de services de fret aérien très efficace et faisant preuve de suffisamment de flexibilité
      pour suivre l'évolution de vos besoins.


    </p>

    <p> <br>
      Grâce à notre gamme complète de services à heure définie, garantis et économiques, Groupe DENAMKO répond
      à vos besoins de fret aérien avec assurance et fiabilité. Plusieurs délais de livraison s'offrent à vous,
      notamment le lendemain (jour ouvrable)
      ou en trois à cinq jours, ce qui vous permet de couvrir le monde entier avec des moyens sans précédent.
      <br>
    </p>

    <p> <br>


      Nous proposons une gamme complète d'options de services à valeur ajoutée pour un traitement pratique
      et simple d'envois palettisés ou en vrac.
      <br>
    </p>
  </div>

  <div class="maritime">
    <h1>
      Fret Maritime
    </h1>
    <p><br>
      Nous vous proposons une solution transport Maritime globale pour toutes vos expéditions.
      <br>
    </p>
    <p>
      Groupe DENAMKO, spécialiste de transport de véhicules : <br>
      Nous assurons le transport de tout véhicule (voiture, camion, autocars, engin travaux publics ...)
      vers des destinations spécifiques et plus particulièrement en AFRIQUE. </p>
    <p>
      <br>
      Avec l'ouverture de notre site de fret maritime sur la Belgique, nous avons recherché un emplacement stratégique
      pour un départ d'Anvers (Belgique) et pour mieux gérer les transports de nos clients à l'import comme
      à l'export. Grâce au service douane intégré, nous pouvons prendre en charge vos transports du début à la fin.
    </p>

  </div>

</div>
