<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="bannierePrime">
    <img src="../../assets/banniere.jpeg" alt="">
  </div>


    <mat-card class="underBanner">
      <mat-card-header>
        <mat-card-title>
          <h2>Bienvenue sur Mapharma</h2>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{currentSentence}}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="isMobile" mat-card-image src="../../assets/banniere%20mapharma.png">
    </mat-card>

  <mat-card *ngIf="isMobile" class="example-card">

    <img mat-card-image src="../../assets/mapharmaMob.svg">
    <mat-card-content class="choice">
       <p>
        Je suis une Pharmacie
       </p>
       <mat-card-actions>
         <button type="submit" mat-raised-button>
           Rejoignez-nous
         </button>
       </mat-card-actions>
         <p>
           Je suis un Particulier
         </p>
         <mat-card-actions>
           <button type="submit" mat-raised-button>
             Commandez maintenant
           </button>
       </mat-card-actions>



    </mat-card-content>
  </mat-card>


  <div *ngIf="!isMobile"  class="banniere" id="banniere">

    <div class="ban">

        <div class="texteLeft">
          <p> Je suis une Pharmacie </p>
          <button mat-raised-button>
            Rejoignez nous
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>


        <div class="texteRight">
          <p> Je suis un Particulier </p>
          <button mat-raised-button>
            Commandez chez nous
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
      </div>




  </div>
     <mat-card>
       <mat-card-content>
         <h2>
           Facilitez votre accès aux médicaments avec Mapharma
         </h2>
         <p>

           Mapharma est votre passerelle numérique vers une expérience pharmaceutique
           moderne et pratique. Nous pouvons en relation les pharmacies de confiance avec
           les particuliers, leur permettant de commander directement leurs médicaments en ligne,
           à tout moment et en toute simplicité.

         </p>
       </mat-card-content>
     </mat-card>

  <div *ngIf="!isMobile" class="famille">
    <div class="familleLeft">
      <p>Pourquoi Choisir Mapharma</p>
      <span>
        Mapharma est votre passerelle numérique vers une expérience pharmaceutique moderne et pratique.
        Nous pouvons en relation les pharmacies de confiance avec les particuliers, leur permettant de
        commander directement leurs médicaments en ligne, à tout moment et en toute simplicité.
      </span>
    </div>
    <div class="familleRight">
    </div>
  </div>



  <div class="ruban">
    <span class="un">
      <img src="../../assets/reseau-mondial.png" alt="" srcset="">
      <p> Grand réseau de pharmacies partenaires</p>
     </span>
    <span class="deux">
       <img src="../../assets/verifier.png" alt="" srcset="">
      <p>Commande en ligne rapide et sécurisée</p>
    </span>
    <span class="trois">
         <img src="../../assets/livraison-de-colis.png" alt="" srcset="">
      <p>Livraison à domicile pour plus de confort</p>
    </span>
    <span class="quatre">
         <img src="../../assets/authentique.png" alt="" srcset="">
      <p>Médicaments authentiques et conformes aux normes</p>
    </span>
    <span class="cinq">
         <img src="../../assets/service-client.png" alt="" srcset="">
      <p>Service client complet à votre disposition</p>
    </span>
  </div>

</div>
