.container{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 140px;

  }
}

.image img{
  width: 100%;
}
.banTexte{
  margin: 30px;
  padding: 20px;
  background: #303030;
  border-radius: 20px;
  color: white;
 text-align: center;
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 140px;

  }
}
